
main {
    @apply min-h-[96vh] relative;
}

main, header, footer {
    @apply overflow-clip overflow-y-visible;
}

.selectable,.selectable-menu-entry {
    /* tailwind v-4 dose not jet support @apply for utility classes https://github.com/tailwindlabs/tailwindcss/discussions/14491*/
    @apply hover:bg-panel-h/15 cursor-pointer;
}

.selectable-menu-entry {
    @apply p-1 text-2xl h-full shrink-0 px-2 hover:text-success px-3;
    /* For some reason tailwind fails with the borders*/
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 2px solid ;
    border-right: 2px solid ;
    
}
.selectable-menu-entry:hover {
    border-bottom: 2px dashed;
}

.input-box {
    @apply my-2 flex flex-col bg-panel px-4 py-2 rounded-lg
}

.input-box label {
    @apply text-xl mb-2 underline decoration-1 underline-offset-4
}

.p-password-input {
    @apply w-full;
}

.subsection {
    @apply bg-panel w-fit border-2 border-info rounded-lg p-2;
}

.main_content {
    @apply flex flex-col items-center max-w-256 space-y-4;
}

button:disabled {
    @apply !cursor-not-allowed;
  }
  

h1 {
    @apply text-4xl font-bold;
}
h2 {
    @apply text-3xl font-bold;
}
h3 {
    @apply text-2xl font-bold;
}
h4 {
    @apply text-xl font-bold;
}
h5 {
    @apply text-lg font-bold;
}
h6 {
    @apply text-text-d font-bold;
}