@import url("./fonts.css");
@import "tailwindcss";
@import './components.css';
@import './tailwind-typography.css';
@layer base, primevue, utilities, theme;


@layer theme {
  @theme {
    --color-text-d: #a8b8f0;
    --color-text: #c6d0f5;
    --color-text-h: #e9edfb;

    --color-h-text-d: #15161e;
    --color-h-text: #292c3c;
    --color-h-text-h: #484d6a;

    --color-base-d: #1f222e;
    --color-base: #303446;
    --color-base-h: #484f6a;

    --color-panel-d: var(--color-h-text-d);
    --color-panel: var(--color-h-text);
    --color-panel-h: var(--color-h-text-h);

    --color-h-panel-d: #626880;
    --color-h-panel: #737994;
    --color-h-panel-h: #949cbb;

    --color-app-d: #5fb9ad;
    --color-app: #81c8be;
    --color-app-h: #a6d8d1;

    --color-crust-h: #33384d;
    --color-crust: #232634;
    --color-crust-d: #1e1e2e;

    --color-warning-d: #d8ae5a;
    --color-warning: #e5c890;
    --color-warning-h: #ecd7ac;

    --color-success-d: #82bf5a;
    --color-success: #a6d189;
    --color-success-h: #c8e2b6;

    --color-error-d: #de5456;
    --color-error: #e78284;
    --color-error-h: #efa9aa;

    --color-info-d: #648be8;
    --color-info: #8caaee;
    --color-info-h: #bccdf5;

    --color-special-d: #b271da;
    --color-special: #ca9ee6;
    --color-special-h: #f4f4f4;

    --color-fun-d: #ee91d5;
    --color-fun: #f4b8e4;
    --color-fun-h: #f8d3ee;

    --color-deep-d:  #ea7e48;
    --color-deep: #ef9f76;
    --color-deep-h: #f4bfa4;  

    --color-primary: var(--color-info); /* + selection */
    --color-primary-contrast: var(--color-h-text);
    --color-highlight: var(--color-app-d);
    --color-highlight-emphasis: var(--color-app);
    --color-primary-emphasis: var(--color-info-h);
    --color-primary-emphasis-alt: var(--color-info-d);

    --inset_0_2px_0_0_theme: inset 0 2px 0 0 var(--color-primary);

    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1440px;

    --font-display: "Barlow", "sans-serif";
    --font-display: "Source Code Pro", "serif";
    --font-display: "Doto", "sans-serif";

    --spacing-128: 32rem;
    --spacing-144: 36rem;
    --spacing-20v: 20vh;
    --spacing-20h: 20vw;
    --spacing-95h: 95vw;
    
    --radius-4xl: 2rem;
    --animate-fade-in: fade-in 0.25s ease-in-out;
    @keyframes fade-in {
      0%  { 
          opacity: 0; 
      }
      100% {      
          opacity: 1;     
      }
    }
  }
}

.p-button-danger:not(.p-button-outlined) {
  @apply bg-error-d text-h-text border-error-d hover:bg-error hover:border-error hover:text-h-text;
}
.p-button-warn:not(.p-button-outlined) {
  @apply bg-warning-d text-h-text border-warning-d hover:bg-warning hover:border-warning hover:text-h-text;
}
.p-button-success:not(.p-button-outlined) {
  @apply bg-success-d text-h-text border-success-d hover:bg-success hover:border-success hover:text-h-text;
}
.p-button-info:not(.p-button-outlined) {
  @apply bg-info-d text-h-text border-info-d hover:bg-info hover:border-info hover:text-h-text;
}
.p-button-primary:not(.p-button-outlined) {
  @apply bg-base-d text-h-text border-base-d  hover:bg-base-d hover:border-base-d hover:text-h-text;
}
.p-button-secondary:not(.p-button-outlined) {
  @apply bg-h-panel-d text-h-text border-h-panel-d hover:bg-h-panel hover:border-h-panel hover:text-h-text;
}

.p-message-danger {
  /* Due to a bug in primevue the this dose not exist by default*/
  background: var(--p-message-error-background);
  outline-color: var(--p-message-error-border-color);
  color: var(--p-message-error-color);
  box-shadow: var(--p-message-error-shadow);
}

.p-disabled{
  @apply !cursor-not-allowed [pointer-events:auto];
}
.w-fit {
  /* Fix for applying wrong moz */
    width: -moz-available;
}

#fileSelect span:not(.p-button-label){
  /* fixing padding for selected file info field */
  @apply pr-2;
}