@import 'tailwindcss';
@import url("./fonts.css");
@theme {
    --color-text-d: #a8b8f0;
    --color-text: #c6d0f5;
    --color-text-h: #e9edfb;

    --color-h-text-d: #15161e;
    --color-h-text: #292c3c;
    --color-h-text-h: #3e425b;

    --color-base-d: #1f222e;
    --color-base: #303446;
    --color-base-h: #3e435b;

    --color-panel-d: var(--color-h-text-d);
    --color-panel: var(--color-h-text);
    --color-panel-h: var(--color-h-text-h);

    --color-app-d: #5fb9ad;
    --color-app: #81c8be;
    --color-app-h: #a6d8d1;

    --color-crust-h: #33384d;
    --color-crust: #232634;
    --color-crust-d: #1e1e2e;

    --color-warning-d: #d8ae5a;
    --color-warning: #e5c890;
    --color-warning-h: #ecd7ac;

    --color-success-d: #82bf5a;
    --color-success: #a6d189;
    --color-success-h: #c8e2b6;

    --color-error-d: #de5456;
    --color-error: #e78284;
    --color-error-h: #efa9aa;

    --color-info-d: #648be8;
    --color-info: #8caaee;
    --color-info-h: #bccdf5;

    --color-special-d: #f4f4f4;
    --color-special: #ca9ee6;
    --color-special-h: #b271da;

    --color-primary: var(--color-info); /* + selection */
    --color-primary-contrast: var(--color-h-text);
    --color-highlight: var(--color-app-d);
    --color-highlight-emphasis: var(--color-app);
    --color-primary-emphasis: var(--color-info-h);
    --color-primary-emphasis-alt: var(--color-info-d);

    --color-primary-0: var(--color-base); 
    --color-primary-50: var(--color-h-text-d); 
    --color-primary-100: var(--color-crust); 
    --color-primary-200: var(--color-crust-d); 
    --color-primary-300: var(--color-h-text-d); 
    --color-primary-400: var(--color-h-text); 
    --color-primary-500: var(--color-crust-d); 
    --color-primary-600: var(--color-h-text-d); 
    --color-primary-700: var(--color-base); 
    --color-primary-800: var(--color-panel-h); 
    --color-primary-900: var(--color-crust); 
    --color-primary-950: var(--color-surface-500); 

    --color-surface-0: var(--color-text); 
    --color-surface-50: var(--color-info-d); 
    --color-surface-100: var(--color-info); 
    --color-surface-200: var(--color-info-d); 
    --color-surface-300: var(--color-success); 
    --color-surface-400: var(--color-info); /* success border */
    --color-surface-500: var(--color-crust); 
    --color-surface-600: var(--color-info); /* border hover */
    --color-surface-700: var(--color-app); /* border inactive */ 
    --color-surface-800: var(--color-panel-h); /* table seperator */
    --color-surface-900: var(--color-crust); /* bg table */ 
    --color-surface-950: var(--color-crust);  /* bg input */

            


    --inset_0_2px_0_0_theme: inset 0 2px 0 0 var(--color-primary);

    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1440px;

    --font-display: "Barlow", "sans-serif";
    --font-display: "Source Code Pro", "serif";
    --font-display: "Doto", "sans-serif";

    --spacing-128: 32rem;
    --spacing-144: 36rem;
    --spacing-20v: 20vh;
    --spacing-20h: 20vw;
    --spacing-95h: 95vw;
    
    --radius-4xl: 2rem;
}
@layer utilities {
    /* from https://github.com/primefaces/tailwindcss-primeui */
    @import "./primevue/tailwind.css";
}

main {
    @apply min-h-[96vh] relative z-0;
}

.selectable,.selectable-menu-entry {
    /* tailwind v-4 dose not jet support @apply for utility classes https://github.com/tailwindlabs/tailwindcss/discussions/14491*/
    @apply hover:bg-panel-h/15 cursor-pointer;
}

.selectable-menu-entry {
    @apply p-1 text-2xl h-full shrink-0 px-2 hover:text-success ;
    /* For some reason tailwind fails with the borders*/
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 2px solid ;
    border-right: 2px solid ;
    
}
.selectable-menu-entry:hover {
    border-bottom: 2px dashed;
}

.input-box {
    @apply my-2 flex flex-col bg-panel px-4 py-2 rounded-lg
}

.input-box label {
    @apply text-xl mb-2 underline decoration-1 underline-offset-4
}

.p-password-input {
    @apply w-full;
}

button:disabled {
    @apply !cursor-not-allowed;
  }
  

h1 {
    @apply text-4xl font-bold;
}
h2 {
    @apply text-3xl font-bold;
}
h3 {
    @apply text-2xl font-bold;
}
h4 {
    @apply text-xl font-bold;
}
h5 {
    @apply text-lg font-bold;
}
h6 {
    @apply text-text-d font-bold;
}