@import url("fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    @apply min-h-[96vh] relative z-0;
}

.selectable {
    @apply hover:bg-panel-sub/15 cursor-pointer;
}

.selectable-menu-entry {
    @apply p-1 text-2xl h-full shrink-0 px-2 selectable hover:text-success ;
    /* For some reason tailwind fails with the borders*/
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 2px solid theme('colors.text-sub');
    border-right: 2px solid theme('colors.text-sub');
}
.selectable-menu-entry:hover {
    border-bottom: 2px dashed theme('colors.success');
}

.input-box {
    @apply my-2 flex flex-col bg-panel px-4 py-2 rounded-lg
}

.input-box label {
    @apply text-xl mb-2 underline decoration-1 underline-offset-4
}

.p-password-input {
    @apply w-full;
}

button:disabled {
    @apply !cursor-not-allowed;
  }
  

h1 {
    @apply text-4xl font-bold;
}
h2 {
    @apply text-3xl font-bold;
}
h3 {
    @apply text-2xl font-bold;
}
h4 {
    @apply text-xl font-bold;
}
h5 {
    @apply text-lg font-bold;
}
h6 {
    @apply text-base font-bold;
}