.left-to-right {
    position: absolute;
    animation: l-to-r 2s cubic-bezier(.46,.03,.52,.96) infinite
}

@keyframes l-to-r {
    0% {
        left: -100px;
    }
    95% {
        left: 100%;
    }
    100% { 
        left: 100%; 
    }
}